:host{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 56px;
  bottom: 0;
  left: 0;
  right: 0;

  background-color: #f2f2f2;
}

.toolbar-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.search-attribution {
  margin-top: 15px;
  padding: 0 8px;
}
