.app-toolbar-wrapper {
  margin-bottom: 15px;
}

.user-info-section {
  padding: 0 15px;

  button {
    width: 100%;
  }
}

.user-summary {
  display: flex;
  align-items: center;
  margin-bottom: 15px;

  > img {
    margin-right: 15px;
  }
}

.social-login-wrapper {

  > trl-social-login-button {
    display: block;
    margin-bottom: 15px;
  }
}

.spinner-wrapper {
  display: flex;
  justify-content: center;
}
