// Normalize.css
@import '~normalize.css/normalize.css';

// Material Design
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

// App
@import './app/style/app';
@import './app/style/font-awesome';
