// $trl-blue: #102e82;
$trl-blue: (
  50: #e2e6f0,
  100: #b7c0da,
  200: #8897c1,
  300: #586da8,
  400: #344d95,
  500: #102e82,
  600: #0e297a,
  700: #0c236f,
  800: #091d65,
  900: #051252,
  a100: #8692ff,
  a200: #5365ff,
  a400: #2037ff,
  a700: #0620ff,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: white,
    600: white,
    700: $white-87-opacity,
    800: $white-87-opacity,
    900: $white-87-opacity,
    a100: $black-87-opacity,
    a200: white,
    a400: white,
    a700: white,
  )
);

$trl-yellow: (
  50: #FEF9E9,
  100: #FCF1C8,
  200: #FBE8A3,
  300: #F9DE7E,
  400: #F7D763,
  500: #F6D047,
  600: #F5CB40,
  700: #F3C437,
  800: #F2BE2F,
  900: #EFB320,
  a100: #FFFFFF,
  a200: #FFFBF3,
  a400: #FFEBC0,
  a700: #FFE3A7,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: white,
    600: white,
    700: $white-87-opacity,
    800: $white-87-opacity,
    900: $white-87-opacity,
    a100: $black-87-opacity,
    a200: white,
    a400: white,
    a700: white,
  )
);
